[submodule "actor-engine"]
	path = actor-engine
	url =../actor-engine.git
	branch = main
[submodule "admin-portal"]
	path = admin-portal
	url =../admin-portal.git
	branch = main
[submodule "api-documentation"]
	path = api-documentation
	url =../api-documentation.git
	branch = main
[submodule "authentication"]
	path = authentication
	url =../authentication.git
	branch = main
[submodule "blueprints"]
	path = blueprints
	url =../blueprints.git
	branch = main
[submodule "core"]
	path = core
	url =../core.git
	branch = main
[submodule "cors"]
	path = cors
	url =../cors.git
	branch = main
[submodule "data-protection"]
	path = data-protection
	url =../data-protection.git
	branch = main
[submodule "database-management"]
	path = database-management
	url =../database-management.git
	branch = main
[submodule "demo-module"]
	path = demo-module
	url =../demo-module.git
	branch = main
[submodule "documentation-portal"]
	path = documentation-portal
	url =../documentation-portal.git
	branch = main
[submodule "engine-bay-ce"]
	path = engine-bay-ce
	url =../engine-bay-ce.git
	branch = main
[submodule "logging"]
	path = logging
	url =../logging.git
	branch = main
[submodule "module-template"]
	path = module-template
	url =../module-template.git
	branch = main
[submodule "persistence"]
	path = persistence
	url =../persistence.git
	branch = main
[submodule "sheet-functions"]
	path = sheet-functions
	url =../sheet-functions.git
	branch = main
[submodule "telemetry"]
	path = telemetry
	url =../telemetry.git
	branch = main
[submodule "demo-api"]
	path = demo-api
	url =../demo-api.git
	branch = main
[submodule "auditing"]
	path = auditing
	url =../auditing.git
	branch = main
[submodule "rate-limiting"]
	path = rate-limiting
	url = ../rate-limiting.git
